@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
    color: #34495e;
}
.navbar{
    background-color: rgba(20,29,37,0.2);
}
.nav-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
}
.nav-text>li:nth-child(7) {
    font-family: 'Open Sans';
    font-weight: bold;
}
#header {
    padding-top: 200px;
    background-image: url(../img/header.png);
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
}
.mock {
    width: 100%;
    height: auto;
}
.box {
    margin-top: 60px;
    white-space: nowrap;
}
.btn1 {
    width: 180px;
    display: inline-block;
    z-index: 1;
}
.btn1>button {
    padding: 18px 27px !important;
}
.btn2 {
    width: 180px;
    display: inline-block;
    z-index: 1;
    padding:
}
.btn2>button {
    padding: 18px 38px !important;
}
.round {
    margin-top: 17px;
    position: absolute;
    display: inline-block;
    border: 30px;
    border-radius: 50%/50%;
    box-shadow: 0 0 0 1px #000;
    background-color: white;
    padding-top: 2px;
    padding-right: 1px;
    width: 28px;
    height: 28px;
    text-align: center;
    margin-left: -22px;
    z-index: 5;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.cont {
    overflow: hidden;
    max-width: 355px
}
.header-text {
    margin-top: 5%;
}
.header-text>h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
}
.header-text>p {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 18px;
    color: white;
}
.box>button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
}
#about {
    margin-top: 120px;
    margin-bottom: 130px;
}
.about-text>p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.about-text>p:first-child {
    font-size: 24px;
}
.about-img {
    margin-top: 50px;
}
#service {
    text-align: center;
    background-color: #f6f6f6;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
}
.service-text1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}
.service-text2 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    padding-top: 25px;
}
.service {
    margin-top: 75px;
    margin-bottom: 100px;
}
#features {
    text-align: center;
    background-image: url(../img/Layer2.png);
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
}
.item>img {
    width: 100%;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 90px;
    top: 20%;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 0;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 60px;
}
.features-text>p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 60px;
}
.features-text>p:nth-child(2) {
    font-family: 'Open Sans Light', sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 70px;
}
.myCarousel {
    margin-bottom: -200px;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: auto;
    max-width: 90%;
}
#price1 {
    margin-top: 200px;
}
#price {
    text-align: center;
    margin-bottom: 100px;
}
#price>p {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    margin-bottom: 70px;
}
#price>.row {
    margin-bottom: 35px;
}
.price-text>p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
}
.price-text>p:nth-child(2) {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    text-align: left;
    text-align: left;
}
#contact {
    background-color: #34495e;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    color: white;
}
.contact-text>p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-top: 100px;
}
.contact-text>p:nth-child(2) {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    margin-top: 30px;
}
.contact-text>p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-text>p:nth-child(4) {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}
.contact-text>p:nth-child(5) {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}
#contactForm {
    margin-top: 115px;
}
.form-control {
    height: 40px;
    background-color: #5d6d7e;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
}
.input
}
.input>input {}
.select {}
.select>select {
    margin-top: 15px;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none!important;
    background-image: url('../img/arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.textarea {}
.textarea>textarea {
    height: 150px;
    margin-top: 15px;
}
select::-ms-expand {
    display: none;
}
.contact-btns {
    margin-top: 15px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.contact-btn1 {
    padding: 18px 65px !important;
}
.contact-btn2 {
    padding: 18px 62px !important;
    margin-left: 15px;
}
#footer {
    width: 100%;
    background-image: url(../img/Shape16.png);
    background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}
.footer-text {
    margin-top: 70px;
    margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
    .nav-text {
        font-size: 17px;
    }
    .btn1 {
        width: 176px;
        display: inline-block;
        z-index: 1;
    }
    .btn1>button {
        padding: 18px 25px !important;
    }
    .btn2 {
        width: 176px;
        display: inline-block;
        z-index: 1;
        padding:
    }
    .btn2>button {
        padding: 18px 36px !important;
    }
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-right {
        right: 42px;
    }
}
@media screen and (max-width: 992px) {
    .price-text > p:nth-child(2) {
        text-align: center;
    }
    .price-text > p:nth-child(1) {
        text-align: center;
    }
    .email {
        margin-top: 15px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        font-size: 70px;
        top: 20%;
    }
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-right {
        right: 42px;
    }
}
@media screen and (max-width: 767px) {
    .header {
        text-align: center;
    }
    .mock {
        width: 50%;
        height: auto;
    }
    .box {
        text-align: center;
        margin-top: 60px;
        white-space: nowrap;
    }
    .btn1 {
        width: 180px;
        display: inline-block;
        z-index: 1;
    }
    .btn1>button {
        padding: 18px 27px !important;
    }
    .btn2 {
        width: 180px;
        display: inline-block;
        z-index: 1;
        padding:
    }
    .btn2>button {
        padding: 18px 38px !important;
    }
    .round {
        margin-left: -15px;
    }
    .cont {
        overflow: hidden;
        max-width: 768px;
    }
    #about {
        margin-top: 120px;
        margin-bottom: 130px;
        text-align: center;
    }
    .about-text>p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
    .about-text>p:first-child {
        font-size: 24px;
    }
    .about-img {
        text-align: center;
        margin-top: 50px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        font-size: 50px;
        top: 20%;
    }
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-right {
        right: 0px;
    }
    .navbar-nav {
        text-align: center;
        background-color: white;
        opacity: 0.7;
        margin: 0 -15px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #34495e;
    }
}
@media screen and (max-width: 495px) {
    .contact-btns {
        text-align: right;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
    .contact-btn1 {
        width: 100%;
        padding: 18px 65px !important;
    }
    .contact-btn2 {
        margin-top: 15px;
        width: 100%;
        padding: 18px 62px !important;
        margin-left: 0;
    }
}
